/* The Modal (background) */
.modal-view {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 390px;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content input.text {
    margin: 5px;
    width: 360px;
    height: 30px;
    padding: 4px 5px;
    border: 1px solid #c1c7d0 !important;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    vertical-align: baseline;
    background-color: white;
}

.modal-title {
    font-weight: 700;
}