
<div class="modal-content" style="width:1000px;">

    <span id="modal-content">

        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h5>Rating</h5>
                </div>

                <div class="card-block">

                    <div class="row">


                        <div class="col-sm-3 mb-4">
                            <div class="form-group">
                                <label for="overall">Overall Session</label>
                                <input type="text" value="{% if overall != None %}{{ overall }}{% else %}{% endif %}" class="form-control" name="overall" id="overall" autocomplete="off" aria-describedby="emailHelp" >
                            </div>
                        </div>


                        <div class="col-sm-3 mb-4">
                            <div class="form-group">
                                <label for="speaker">Speaker</label>
                                <input type="text" value="{% if speaker != None %}{{ speaker }}{% else %}{% endif %}" class="form-control" name="speaker" id="speaker" autocomplete="off" aria-describedby="emailHelp" >
                            </div>
                        </div>

                        <div class="col-sm-3 mb-4">
                            <div class="form-group">
                                <label for="material">Presentation Material</label>
                                <input type="text" value="{% if material != None %}{{ material }}{% else %}{% endif %}" class="form-control" name="material" id="material" autocomplete="off" aria-describedby="emailHelp" >
                            </div>
                        </div>

                        <div class="col-sm-3 mb-4">
                            <div class="form-group">
                                <label for="expectation">Presentation Expectations</label>
                                <input type="text" value="{% if expectation != None %}{{ expectation }}{% else %}{% endif %}" class="form-control" name="expectation" id="expectation" autocomplete="off" aria-describedby="emailHelp" >
                            </div>
                        </div>


                        <div class="col-sm-12 mb-4">
                            <div class="form-group">
                                <label for="comments">Comments</label>
                                <textarea type="text" class="form-control" name="comments" id="comments" autocomplete="off" aria-describedby="emailHelp" >{% if comments != None %}{{ comments }}{% else %}{% endif %}</textarea>
                            </div>
                        </div>


                        <div class="col-sm-6 mb-2">
                            <div class="form-group">
                                <button type="submit" onclick="save_edit_value({{sessioneval_id}})" class="btn btn-primary">Update</button>
                                <button type="submit" onclick="close_modal()" id="button_cancel" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>

  </span>
</div>