{% extends "layouts/base.html" %}

{% block title %} Encode Values {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->

                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="card">


                                        <div class="card-header">
                                            <h5>Session</h5>
                                        </div>


                                        <div class="card-block">

                                            <div class="row">

                                                <div class="col-sm-2 mb-4">
                                                    <div class="form-group">
                                                        <label for="sessioncode">Session Code</label>
                                                        <input type="text" value="{% if session_code != None %}{{ session_code }}{% else %}{% endif %}" class="form-control" onkeydown="tabenter(event, 'sessioncode')" name="sessioncode" id="sessioncode" autocomplete="off" aria-describedby="emailHelp" >
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4 d-flex align-items-center">
                                                    <span id="session-title"><strong>{{ request.session.session_title }}</strong></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    </div>


                                    <div class="row">
    <!-- Rating Block -->
    <div class="col-md-6 mb-3">
        <div class="card h-100 d-flex flex-column">
            <div class="card-header">
                <h5>Rating</h5>
            </div>
            <div class="card-block flex-grow-1 d-flex flex-column">
                <div class="row">

                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="overall">Overall Session Rating</label>
                            <input type="text" class="form-control" onkeydown="tabenter(event, 'overall')" name="overall" id="overall" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="speaker">Speaker Rating</label>
                            <input type="text" class="form-control" onkeydown="tabenter(event, 'speaker')" name="speaker" id="speaker" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="material">Presentation Material Rating</label>
                            <input type="text" class="form-control" onkeydown="tabenter(event, 'material')" name="material" id="material" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="expectation">Did Presentation Meet Expectations</label>
                            <input type="text" class="form-control" onkeydown="tabenter(event, 'expectation')" name="expectation" id="expectation" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-12 mb-3">
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" rows="3" onkeydown="tabenter(event, 'comments')" name="comments" id="comments" autocomplete="off"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-auto">
                        <div class="form-group">
                            <button type="submit" onclick="save_value()" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Evaluation Block -->
    <div class="col-md-6 mb-3">
        <div class="card h-100 d-flex flex-column user-list">
            <div class="card-header">
                <h5>Evaluation</h5>
            </div>
            <div class="card-block flex-grow-1 d-flex flex-column">
                <div class="row">
                    <div class="content flex-grow-1">
                        <div id="results" style="min-height: 400px; margin-top:10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





                            </div>
                            <!-- [ Main Content ] end -->


                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

<div id="modal-view" class="modal-view">

</div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
        $( document ).ready(function() {
            refresh_value_table();
            return;
        });
</script>

<script type="text/javascript">


    function tabenter(e, id) {
        if (e.key === 'Tab') {
            if (id === 'sessioncode') {
                refresh_value_table();
                overall.focus();
                e.preventDefault();
                return;
            }
        }

        if (e.shiftKey && e.key === 'Tab') {
            if (id === 'overall') {
                comments.focus();
                e.preventDefault();
            }
            return;
        }

        if (e.key === 'Tab') {
            if (id === 'comments') {
                overall.focus();
                e.preventDefault();
                save_value();
            }
            return;
        }

        if (e.key === 'Enter') {
            if (id === 'sessioncode') {
                refresh_value_table();
                overall.focus();
                return;
            }
            save_value();
            return;
        }

    }
</script>

{% endblock javascripts %}


