{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-6">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Number of Encoded Sessions</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="bi bi-hand-thumbs-up text-c-blue f-30 m-r-10"></i>
                                                        {{encode_sessions}}/{{sessions_nb}}</h3>
                                                </div>

                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{session_percent}}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-blue" role="progressbar"
                                                        style="width: {{session_percent}}%;" aria-valuenow="{{session_percent}}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ daily sales section ] end-->


                                <!-- [ statistics year chart ] start -->
                                <div class="col-xl-6 col-md-6">
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h6 class="mb-4">Best Session</h6>
                                                </div>
                                                <div class="col-auto">
                                                    <label class="label theme-bg2 text-white f-14 f-w-400 float-right">{{best_rating}}</label>
                                                </div>
                                            </div>
                                            <h2 class="mt-3 f-w-300">{{best_sessioncode}}<sub class="text-muted f-14"> {{best_speaker}}</sub></h2>

                                            <i class="bi bi-trophy text-c-purple f-50"></i>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ statistics year chart ] end -->



                                <!-- [ rating list ] starts-->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card user-list">
                                        <div class="card-header">
                                            <h5>Track Summary</h5>
                                        </div>
                                        <div class="card-block">

                                            <div class="row">

                                                {% for track in tracks %}

                                                    <div class="col-xl-12">
                                                        <h6 class="align-items-center float-left"><i class="fas fa-circle text-c-blue f-10 m-r-15"></i> {{track.first}}</h6>
                                                        <h6 class="align-items-center float-right">{{track.nb}}/{{track.cnt}}</h6>
                                                        <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                            <div class="progress-bar progress-c-blue" role="progressbar"
                                                                    style="width: {{track.percent}}%;" aria-valuenow="{{track.percent}}" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                        </div>
                                                    </div>

                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ rating list ] end      https://medium.com/@dustindavignon/django-2-0-make-clicked-tab-active-with-bootstrap-de27a74f6b76 -->

                                <div class="col-xl-8 col-md-12 m-b-30">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                                        {% for track in tracks %}

                                            <li class="nav-item">
                                                <a class="nav-link {% if track.first == 'A' %}active show{% else %}{% endif %}" id="tab-{{track.first}}" data-toggle="tab" href="#tab{{track.first}}" role="tab"
                                                    aria-controls="tab{{track.first}}" aria-selected="false">{{track.first}}</a>
                                            </li>

                                        {% endfor %}

                                    </ul>

                                    <div class="tab-content" id="myTabContent">

                                        {% for track in tracks %}

                                        <div class="tab-pane fade {% if track.first == 'A' %}active show{% else %}{% endif %}" id="tab{{track.first}}" role="tabpanel" aria-labelledby="tab-{{track.first}}">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Session</th>
                                                    <th>Speaker</th>
                                                    <th>Number of Evaluations</th>
                                                    <th>Rating</th>
                                                    <th class="text-right"></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for row in track.detail %}

                                                <tr>
                                                    <td>
                                                        <h6 class="m-0">{{row.sessioncode}}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">{{row.speaker}}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">{{row.nb_eval}}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-red">{{row.rating}}</h6>
                                                    </td>
                                                </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>

                                        </div>

                                        {% endfor %}


                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
